### 보증금, 전세, 월세 입력

In [265]:
rent = '월세'

In [266]:
rent_max = 100
deposit_max = 10000

### 가격 범위 밖의 데이터 삭제

In [267]:
if rent == '월세':
    condition = (rent_min <= data['월세']) & (rent_max >= data['월세']) & (deposit_min <= data['보증금']) & (deposit_max >= data['보증금'])
    data = data[condition]
else:
    condition = (data['전세'] >= jeonse_min) & (data['전세'] <= jeonse_max)
    data = data[condition]

In [268]:
data

,방이름,보증금,월세,전세,방 수,욕실 수,주소,평 수,관리비,주차 여부,...,방향_남,방향_북,건축물 용도_공동주택,건축물 용도_그 밖에 토지의 정착물,건축물 용도_단독주택,건축물 용도_미등기건물,건축물 용도_숙박시설,건축물 용도_업무시설,건축물 용도_제1종 근린생활시설,건축물 용도_제2종 근린생활시설
45,일반원룸,1000,60,0,1,1,서울시 마포구 공덕동 242-27,10.18,4.0,0,...,1.0,0.0,0,0,0,0,0,0,0,1
54,일반원룸,1000,60,0,1,1,서울시 마포구 공덕동 242-27,10.18,3.0,0,...,1.0,0.0,1,0,0,0,0,0,0,0
59,대성힐스 1동6층,1000,55,0,2,1,서울시 마포구 공덕동 11-139,6.02,4.0,0,...,0.0,0.0,0,0,1,0,0,0,0,0
68,단독B1층,1000,50,0,1,1,서울시 마포구 대흥동 2-32,6.05,5.0,0,...,0.0,0.0,0,0,1,0,0,0,0,0
87,일반원룸,1000,50,0,1,1,서울시 마포구 대흥동 441-3,8.16,5.0,0,...,0.5,0.0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1968,일반원룸2층,1000,60,0,1,1,서울시 중구 신당동 432-86,8.47,5.0,0,...,1.0,0.0,0,0,1,0,0,0,0,0
1969,일반원룸2층,1000,60,0,2,1,서울시 중구 신당동,9.98,5.0,0,...,0.0,0.0,0,0,1,0,0,0,0,0
1970,일반원룸,1000,55,0,1,1,서울시 중구 신당동 291-14,6.99,8.0,0,...,0.5,0.0,0,0,0,0,0,0,0,1
1987,일반원룸,1000,50,0,1,1,서울시 중구 신당동 305-27,6.95,2.0,1,...,1.0,0.0,0,0,1,0,0,0,0,0
1995,일반원룸,1000,60,0,1,1,서울시 중구 신당동 366-545,10.58,5.0,0,...,0.0,0.0,1,0,0,0,0,0,0,0

### 추천 알고리즘에 활용하지 않는 열 삭제

In [269]:
# 주요 컬럼으로 데이터 프레임 생성
col_list = ['방 수', '욕실 수', '평 수', '관리비', '주차 여부', '층', '총 층', '복층 여부', '사용승인일', '대형마트', '편의점', '지하철역', '방향_동', '방향_서', '방향_남', '방향_북']
df = data[col_list]

In [270]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 207 entries, 45 to 1995
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   방 수     207 non-null    int64
 1   욕실 수    207 non-null    int64
 2   평 수     207 non-null    object
 3   관리비     207 non-null    float64
 4   주차 여부   207 non-null    int64
 5   층       207 non-null    int64
 6   총 층     207 non-null    int64
 7   복층 여부   207 non-null    int64
 8   사용승인일   207 non-null    int64
 9   대형마트    207 non-null    float64
 10  편의점     207 non-null    float64
 11  지하철역    207 non-null    float64
 12  방향_동    207 non-null    float64
 13  방향_서    207 non-null    float64
 14  방향_남    207 non-null    float64
 15  방향_북    207 non-null    float64
dtypes: float64(8), int64(7), object(1)
memory usage: 27.5+ KB

In [271]:
import re

def remove_(x):
    return re.sub("㎡\(전용률[0-9]+%","", x)

df['평 수'] = df['평 수'].apply(remove_)

C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [272]:
df['평 수'] = df['평 수'].astype('float')

C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [273]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 207 entries, 45 to 1995
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   방 수     207 non-null    int64
 1   욕실 수    207 non-null    int64
 2   평 수     207 non-null    float64
 3   관리비     207 non-null    float64
 4   주차 여부   207 non-null    int64
 5   층       207 non-null    int64
 6   총 층     207 non-null    int64
 7   복층 여부   207 non-null    int64
 8   사용승인일   207 non-null    int64
 9   대형마트    207 non-null    float64
 10  편의점     207 non-null    float64
 11  지하철역    207 non-null    float64
 12  방향_동    207 non-null    float64
 13  방향_서    207 non-null    float64
 14  방향_남    207 non-null    float64
 15  방향_북    207 non-null    float64
dtypes: float64(9), int64(7)
memory usage: 27.5 KB

In [274]:
df

,방 수,욕실 수,평 수,관리비,주차 여부,층,총 층,복층 여부,사용승인일,대형마트,편의점,지하철역,방향_동,방향_서,방향_남,방향_북
45,1,1,10.18,4.0,0,4,4,0,1809,375.0,67.0,341.0,0.0,0.0,1.0,0.0
54,1,1,10.18,3.0,0,4,4,0,1997,375.0,67.0,341.0,0.0,0.0,1.0,0.0
59,2,1,6.02,4.0,0,2,4,0,1996,621.0,122.0,611.0,0.0,1.0,0.0,0.0
68,1,1,6.05,5.0,0,-1,3,0,1992,369.0,56.0,150.0,1.0,0.0,0.0,0.0
87,1,1,8.16,5.0,0,5,5,0,2002,314.0,26.0,235.0,0.5,0.0,0.5,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1968,1,1,8.47,5.0,0,2,2,0,1965,529.0,87.0,97.0,0.0,0.0,1.0,0.0
1969,2,1,9.98,5.0,0,3,4,0,1993,147.0,65.0,124.0,1.0,0.0,0.0,0.0
1970,1,1,6.99,8.0,0,4,5,0,1997,89.0,60.0,231.0,0.5,0.0,0.5,0.0
1987,1,1,6.95,2.0,1,2,4,0,1997,384.0,83.0,241.0,0.0,0.0,1.0,0.0
1995,1,1,10.58,5.0,0,2,4,0,1809,296.0,149.0,260.0,1.0,0.0,0.0,0.0

## 추천

### 유저 아이템 생성

In [275]:
u_item = [(1.38, 1.3, 8.62, 5.5, 0.615, 1.55 , 3.9, 0.2, 1974.2, 554.1, 89.6, 411, 1, 0, 0, 0)]
u_data = pd.DataFrame(u_item, columns=df.columns, index=['user'])

u_df = df.append(u_data)

In [276]:
u_df

,방 수,욕실 수,평 수,관리비,주차 여부,층,총 층,복층 여부,사용승인일,대형마트,편의점,지하철역,방향_동,방향_서,방향_남,방향_북
45,1.00,1.0,10.18,4.0,0.000,4.00,4.0,0.0,1809.0,375.0,67.0,341.0,0.0,0.0,1.0,0.0
54,1.00,1.0,10.18,3.0,0.000,4.00,4.0,0.0,1997.0,375.0,67.0,341.0,0.0,0.0,1.0,0.0
59,2.00,1.0,6.02,4.0,0.000,2.00,4.0,0.0,1996.0,621.0,122.0,611.0,0.0,1.0,0.0,0.0
68,1.00,1.0,6.05,5.0,0.000,-1.00,3.0,0.0,1992.0,369.0,56.0,150.0,1.0,0.0,0.0,0.0
87,1.00,1.0,8.16,5.0,0.000,5.00,5.0,0.0,2002.0,314.0,26.0,235.0,0.5,0.0,0.5,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1969,2.00,1.0,9.98,5.0,0.000,3.00,4.0,0.0,1993.0,147.0,65.0,124.0,1.0,0.0,0.0,0.0
1970,1.00,1.0,6.99,8.0,0.000,4.00,5.0,0.0,1997.0,89.0,60.0,231.0,0.5,0.0,0.5,0.0
1987,1.00,1.0,6.95,2.0,1.000,2.00,4.0,0.0,1997.0,384.0,83.0,241.0,0.0,0.0,1.0,0.0
1995,1.00,1.0,10.58,5.0,0.000,2.00,4.0,0.0,1809.0,296.0,149.0,260.0,1.0,0.0,0.0,0.0
user,1.38,1.3,8.62,5.5,0.615,1.55,3.9,0.2,1974.2,554.1,89.6,411.0,1.0,0.0,0.0,0.0

### 정규화

In [277]:
# 정규화
min_df = u_df.min()
max_df = u_df.max()
normalization_df = (u_df - min_df) / (max_df-min_df)
if min_df['욕실 수'] == max_df['욕실 수']:
    normalization_df['욕실 수'] = u_df['욕실 수']
normalization_df

,방 수,욕실 수,평 수,관리비,주차 여부,층,총 층,복층 여부,사용승인일,대형마트,편의점,지하철역,방향_동,방향_서,방향_남,방향_북
45,0.00,0.0,0.171171,0.266618,0.000,0.833333,0.428571,0.0,0.000000,0.323628,0.250936,0.263293,0.0,0.0,1.0,0.0
54,0.00,0.0,0.171171,0.199947,0.000,0.833333,0.428571,0.0,0.882629,0.323628,0.250936,0.263293,0.0,0.0,1.0,0.0
59,1.00,0.0,0.084014,0.266618,0.000,0.500000,0.428571,0.0,0.877934,0.599104,0.456929,0.494854,0.0,1.0,0.0,0.0
68,0.00,0.0,0.084643,0.333289,0.000,0.000000,0.285714,0.0,0.859155,0.316909,0.209738,0.099485,1.0,0.0,0.0,0.0
87,0.00,0.0,0.128850,0.333289,0.000,1.000000,0.571429,0.0,0.906103,0.255319,0.097378,0.172384,0.5,0.0,0.5,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1969,1.00,0.0,0.166981,0.333289,0.000,0.666667,0.428571,0.0,0.863850,0.068309,0.243446,0.077187,1.0,0.0,0.0,0.0
1970,0.00,0.0,0.104337,0.533302,0.000,0.833333,0.571429,0.0,0.882629,0.003359,0.224719,0.168954,0.5,0.0,0.5,0.0
1987,0.00,0.0,0.103499,0.133276,1.000,0.500000,0.428571,0.0,0.882629,0.333707,0.310861,0.177530,0.0,0.0,1.0,0.0
1995,0.00,0.0,0.179552,0.333289,0.000,0.500000,0.428571,0.0,0.000000,0.235162,0.558052,0.193825,1.0,0.0,0.0,0.0
user,0.38,1.0,0.138487,0.366624,0.615,0.425000,0.414286,0.2,0.775587,0.524188,0.335581,0.323328,1.0,0.0,0.0,0.0

### 추천

In [279]:
result = u_df.copy()

In [278]:
from scipy.spatial.distance import cosine
from scipy.stats import pearsonr
from math import *
import numpy as np

In [ ]:
# 피어슨 상관계수
def pearson_similarity(x, y):
    return np.dot((a - np.mean(a)), (b - np.mean(b))) / ((np.linalg.norm(a - np.mean(a))) * (np.linalg.norm(b - np.mean(b))))

In [ ]:
# 코사인 유사도
def cosine_similarity(a, b):
    return np.dot(a, b.T) / (np.linalg.norm(a) * (np.linalg.norm(b)))

In [ ]:
# 자카드 유사도 - X(집합에 이용)

In [ ]:
# 유클리드 유사도
def euclidean_distance(a, b):
    distance = 0
    for in in range(len(a)):
        distance += (a[i] - b[i]) ** 2
    return distance ** 0.5


def Euclidean(a, b):
    vec1 = a.copy()
    vec2 = b.copy()
    if len(vec1)<len(vec2): vec1,vec2 = vec2,vec1
    vec2 = np.resize(vec2,(vec1.shape[0],vec1.shape[1]))
    return np.linalg.norm(vec1-vec2)

In [ ]:
# 삼각형 면적 유사도 (TS 유사도)
def Theta(a, b):
    return np.arccos(Cosine(a, b)) + np.radians(10)
    
def triangle_area_similarity(a, b):
    theta = np.radians(Theta(a, b))
    return ((np.linalg.norm(a) * np.linalg.norm(b)) * np.sin(theta))/2

# 부채꼴 면적 유사도 (SS 유사도)
def Magnitude_Difference(vec1, vec2):
        return abs((np.linalg.norm(vec1) - np.linalg.norm(vec2)))

def sector_area_similarity(a, b):
    ED = Euclidean(a, b)
    MD = Magnitude_Difference(a, b)
    theta = Theta(a, b)
    return math.pi * (ED + MD)**2 * theta/360

## TS-SS 유사도
def ts_ss_similarity(a, b):
    return triangle_area_similarity(a,b) * sector_area_similarity(a,b)

In [ ]:
# 조정된 코사인 유사도 (두 개의 사용자 아이템)

In [280]:
def recommendation():
    user = normalization_df.loc['user'].values
    for idx in u_df.index:
        item = normalization_df.loc[idx].values
        # 코사인 유사도
        cosine = 1 - cosine(item, user)
        result.loc[idx, '코사인'] = cosine
        # 피어슨 상관계수
        pearson = pearsonr(item, user)
        result.loc[idx, '피어슨'] = pearson
        # 유클리드 유사도
        euclidean = euclidean_distance(item, user)
        result.loc[idx, '유클리드'] = euclidean
        # TS 유사도
        triangle = triangle_area_similarity(item, user)
        result.loc[idx, 'TS'] = triangle
        # SS 유사도
        sector = sector_area_similarity(item, user)
        result.loc[idx, 'SS'] = sector
        # TS-SS 유사도
        ts_ss = ts_ss_similarity(item, user)
        result.loc[idx, 'TS-SS'] = ts_ss
    return result

In [281]:
recommendation()

,방 수,욕실 수,평 수,관리비,주차 여부,층,총 층,복층 여부,사용승인일,대형마트,편의점,지하철역,방향_동,방향_서,방향_남,방향_북,유사도
45,1.00,1.0,10.18,4.0,0.000,4.00,4.0,0.0,1809.0,375.0,67.0,341.0,0.0,0.0,1.0,0.0,0.326732
54,1.00,1.0,10.18,3.0,0.000,4.00,4.0,0.0,1997.0,375.0,67.0,341.0,0.0,0.0,1.0,0.0,0.470471
59,2.00,1.0,6.02,4.0,0.000,2.00,4.0,0.0,1996.0,621.0,122.0,611.0,0.0,1.0,0.0,0.0,0.529919
68,1.00,1.0,6.05,5.0,0.000,-1.00,3.0,0.0,1992.0,369.0,56.0,150.0,1.0,0.0,0.0,0.0,0.741215
87,1.00,1.0,8.16,5.0,0.000,5.00,5.0,0.0,2002.0,314.0,26.0,235.0,0.5,0.0,0.5,0.0,0.643224
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1969,2.00,1.0,9.98,5.0,0.000,3.00,4.0,0.0,1993.0,147.0,65.0,124.0,1.0,0.0,0.0,0.0,0.724711
1970,1.00,1.0,6.99,8.0,0.000,4.00,5.0,0.0,1997.0,89.0,60.0,231.0,0.5,0.0,0.5,0.0,0.634614
1987,1.00,1.0,6.95,2.0,1.000,2.00,4.0,0.0,1997.0,384.0,83.0,241.0,0.0,0.0,1.0,0.0,0.548972
1995,1.00,1.0,10.58,5.0,0.000,2.00,4.0,0.0,1809.0,296.0,149.0,260.0,1.0,0.0,0.0,0.0,0.665249
user,1.38,1.3,8.62,5.5,0.615,1.55,3.9,0.2,1974.2,554.1,89.6,411.0,1.0,0.0,0.0,0.0,1.000000

In [282]:
result = result.drop(['user'], axis = 0)

In [285]:
result = result[['코사인', '피어슨', '유클리드', 'TS', 'SS', 'TS-SS']]

1193    0.820673
1005    0.814972
1133    0.811087
577     0.809181
601     0.805164
1085    0.804915
1823    0.804268
218     0.803067
1255    0.799803
1824    0.793524
Name: 유사도, dtype: float64

In [ ]:
result.to_csv("C:/Users/user/Desktop/similarity.csv",encoding="utf-8-sig",index=False)